APP_PORT="3000"
STORYBOOK_PORT="6006"
PRISMA_PORT="5555"
TIMEZONE="America/Sao_Paulo"
WORKSPACE_PATH="/automalarweb"

POSTGRES_USER="devuser"
POSTGRES_PASSWORD="devpassword"
POSTGRES_DB="devdb"
DB_PORT="5432"

COGNEE_BUILD_PATH=/opt/cognee

COGNEE_LLM_PROVIDER="gemini"
COGNEE_LLM_API_KEY=""
COGNEE_LLM_MODEL="gemini/gemini-2.0-flash"
COGNEE_LLM_ENDPOINT=""
COGNEE_LLM_API_VERSION=""
COGNEE_LLM_MAX_TOKENS="16384"

COGNEE_GRAPHISTRY_USERNAME=
COGNEE_GRAPHISTRY_PASSWORD=

COGNEE_EMBEDDING_PROVIDER="gemini"
COGNEE_EMBEDDING_API_KEY=""
COGNEE_EMBEDDING_MODEL="gemini/text-embedding-004"
COGNEE_EMBEDDING_ENDPOINT=""
COGNEE_EMBEDDING_API_VERSION=""
COGNEE_EMBEDDING_DIMENSIONS=768
COGNEE_EMBEDDING_MAX_TOKENS=2048

COGNEE_GRAPH_DATABASE_PROVIDER="networkx"
COGNEE_VECTOR_DB_PROVIDER="lancedb"
COGNEE_DB_PROVIDER="sqlite"
COGNEE_DB_NAME=cognee_db

COGNEE_SSE_HOST="0.0.0.0"
COGNEE_SSE_PORT="8000"
